/* --- Articles (nodes) --- */
.article {
  background: none;
  margin-bottom: 15px; /* Articles spacing */
}

.node-teaser {
  background: url(../images/bg-line-2.gif) 0 100% repeat-x; 
  padding-bottom: 15px;
} 

.front .article {
  margin-bottom: 0;
  background: none;
  padding-bottom: 0;
}

/* Teaser */
.node-teaser {
}

/* Article Title */
.article > .header {
}

.front .article:first-child > .header {
  background: url(../images/bg-title.gif) 50% 100% no-repeat;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.front .article:first-child > .header .node-title {
  font-size: 2em;
}

.front .article:first-child .menu {
  margin-top: 20px;
}

.node-title {
  color: #c07326;
  font-size: 1.33em;
  margin: 0;
}

.node-title a,
.node-title a:visited {
  color: #c07326;
  text-decoration: none;
}

.node-title a:hover,
.node-title a:active,
.node-title a:focus {
  color: #ebdaad;
  text-decoration: none;
}

.front .node-title {
  color: #ebdaad;
}

.front .node-title a,
.front .node-title a:visited {
  color: #ebdaad;
}

.front .node-title a:hover,
.front .node-title a:active,
.front .node-title a:focus {
  color: #c07326;
}

/* User Picture */
.article .user-picture {
  display: inline;
  margin-right: .5em;
}

.article .user-picture img {
}

/* Meta */
.node-author {
}

.username {
}

.article > .submitted {
  color: #8e785e;
  line-height: 1;
  padding: 0.455em 0 1.5em;
  font-size: 0.912em;
}

.article > .submitted a {
}

.article > .submitted a:hover,
.article > .submitted a:active,
.article > .submitted a:focus {
}

.article > .submitted .username {
}

.article > .submitted .time {
}

/* Field Image */
.article .field-type-image {  
  float: left;
  margin: 0 15px 5px 0;
}

.article .field-type-image img {
  border: 2px solid #ebdaad;
}

/* Article Lists */
.article ul {
}

.article ul li {
}

.article ol {
}

.article ol li {
}

/* Article Links */
.article .menu {
  margin-top: 1em;
  text-align: right;
}

.article ul.links {
  margin: 0;
}

.article ul.links li {
  margin: 0 0.455em 0 0;
  padding: 0 0.6em 0 0;
  border-right:1px solid #C07326;
}

.article ul.links li a {
  display: inline-block;
  padding: 0;
}

.article ul.links li a:hover,
.article ul.links li a:active,
.article ul.links li a:focus {
  text-decoration: none;
}

.article ul.links li.node-readmore a {
}

.article ul.links li.comment-add a {
}

.article ul.links li.comment-comments a {
}

.article ul.links li.comment-new-comments a {
}

.article ul.links li.blog_usernames_blog a {
}

.article ul.links li.print_html a {
}

.article ul.links li.print_email a {
}

.article ul.links li.print_pdf a {
}

.article ul.links li.first {
}

.article ul.links li.last {
	border-right:none;
	padding-right:0;
}

/* Workflow states */
.article-add {
}

.article-edit {
}

.article-delete {
}

.article-preview {
}

.article-sticky {
}

.article-promoted {
}

/* Status */
.article-unpublished {
}

/* --- Blogs --- */
.page-blog .article {
}

/* Teaser */
.page-blog .node-teaser {
}

/* Blog Title */
.node-blog > .header {
}

.node-blog .node-title {
}

.node-blog .node-title a,
.node-blog .node-title a:visited {
}

.node-blog .node-title a:hover,
.node-blog .node-title a:active,
.node-blog .node-title a:focus {
}

/* Blog User Picture */
.node-blog .user-picture {
  display: inline-block;
  vertical-align: text-top;
}

.node-blog .user-picture img {
}

/* Blog Meta */
.node-blog > .submitted {
}

.node-blog > .submitted a {
}

.node-blog > .submitted a:hover,
.node-blog > .submitted a:active,
.node-blog > .submitted a:focus {
}

.node-blog > .submitted .username {
}

.node-blog > .submitted .time {
}

/* Blog Field Image */
.node-blog .field-type-image {
  border: 0;
}

/* Blog Links */
.node-blog .menu {
}

.node-blog ul.links {
}

.node-blog ul.links li {
}

.node-blog ul.links li a {
}

.node-blog ul.links li a:hover,
.node-blog ul.links li a:active,
.node-blog ul.links li a:focus {
}

.node-blog ul.links li.node-readmore a {
}

.node-blog ul.links li.comment-add a {
}

.node-blog ul.links li.comment-comments a {
}

.node-blog ul.links li.comment-new-comments a {
}

.node-blog ul.links li.blog_usernames_blog a {
}

.node-blog ul.links li.print_html a {
}

.node-blog ul.links li.print_email a {
}

.node-blog ul.links li.print_pdf a {
}

.node-blog ul.links li.first {
}

.node-blog ul.links li.last {
}

/* Blog Workflow states */
.page-blog .article-add {
}

.page-blog .article-edit {
}

.page-blog .article-delete {
}

.page-blog .article-preview {
}

.page-blog .article-sticky {
}

.page-blog .article-promoted {
}

/* Status */
.page-blog .article-unpublished {
}

/**
 * Misc.
 */

/* Skinr article title alignment */
.ta-l .article-title {
  text-align: left;
}

.ta-r .article-title {
  text-align: right;
}

.ta-c .article-title {
  text-align: center;
}


