/**
 * Common Block
 */

/* --- Blocks --- */
.block {
  margin: 0;
}

.block-inner {
  padding: 15px;
}

.block-title {
  color: #ebdaad;
}

.block-content {
}

/* --- Block Lists --- */
.block ul {
}

.block ul li {
  margin: 0 0 0 0.5em;
}

.block ol {
}

.block ol li {
}

/* Block Item list */
.block .item-list ul {
}

.block .item-list ul li {
}

/* Block Links List */
.block ul.links {
}

.block ul.links li {
}

/* Block More Links */
.block .more-link {
  margin-top: 5px;
}

.block .more-link a {
}

/* --- Sidebar Blocks --- */
.sidebar .block {
  background: #3f3528;
  margin-top: 10px;
}

.front .sidebar .block { 
  margin-top: 0;
}


.sidebar .block-inner {
  
}

.sidebar .block-title {
  color: #ebdaad;
  font-size: 1.66em;
  margin-bottom: .5em;
  margin-top: 0;
}

.sidebar .block-content {
}

.sidebar .block-custom-banners .block-inner {
  padding: 0;
}

/* First Sidebar Blocks */
#sidebar-first .block {
}

#sidebar-first .block-inner {
}

#sidebar-first .block-title {
}

#sidebar-first .block-content {
}

/* Second Sidebar Blocks */
#sidebar-second .block {
}

#sidebar-second .block-inner {
}

#sidebar-second .block-title {
}

#sidebar-second .block-content {
}

/* --- Header Blocks --- */
#header-wrapper .block {
  float: left;
  margin-left: 10px;
}

#header-wrapper .block-menu ul.menu {
  font-weight: normal;
}

#header-wrapper .block-menu ul.menu li {
  background: url(../images/bg-line.gif) 100% 4px no-repeat;
  display: block;
  float: left;
  padding: 0 8px;
}

#header-wrapper .block-menu ul.menu li:first-child {
  padding-left: 0;
}

#header-wrapper .block-menu ul.menu li a {
  color: #80694d;
  padding: 0;
  text-decoration: none;
}

#header-wrapper .block-menu ul.menu li a:hover,
#header-wrapper .block-menu ul.menu li a:focus,
#header-wrapper .block-menu ul.menu li a:active {
  background: none;
  color: #fff;
  text-decoration: none;
}

#header-wrapper .block .block-inner {
  padding: 0;
}

#header-wrapper .block p {
  color: #80694d;
  margin: 0;
  float: left;
}

.block ul.socials { 
  float: left;
  margin: 0;
  list-style: none;
}

.block ul.socials li {
  display: block; 
  float:left;
}

.block ul.socials li a {
  background: url(../images/ico-socials.png) 0 0 no-repeat;
  display: block;
  float: left;
  height: 19px;
  overflow: hidden;
  text-indent: -999em;
  width: 19px;
}

.block ul.socials li .twitter-follow {
  background-position: -23px 0;
} 

.block ul.socials li .google-plus-follow {
  background-position: -45px 0;
} 

/* ---- Footer Blocks --- */
#footer-wrapper .block {
  float: left;
  width: 50%;
}

.block .contact-info {
  float: right;
  margin: 0;
}

.block .contact-info li {
  display: block;
  float: left;
  margin: 0 8px 0 0;
}

.contact-info .tel {
  background: url(../images/ico-tel.gif) 0 -16px no-repeat;
  padding-left: 17px;
}

.contact-info .email-address {
  background: url(../images/ico-tel.gif) 0 6px no-repeat;
  padding-left: 20px;
}

/* --- First Panels Blocks --- */
#panel-first-wrapper .block {
}

/* --- Second Panels Blocks --- */
#panel-second-wrapper .block {
}

.block-locationmap .block-inner {
  background: #3f3528;
}

/**
 * Specfic Blocks
 */

/* --- Menu Block --- */
.block-menu {
}

.block-menu ul.menu {
  margin-bottom: 0;
  margin-left: 0;
}

.block-menu ul.menu ul {
  margin-left: 1em;
}

/* --- Node Blocks --- */
.block-node .block-content {
}

.block-node table {
  overflow: hidden;
  width: 100%;
}

.block-node tbody {
  border-top: 0;
}

.block-node table tr td {
  border-bottom: 1px dotted #ccc;
}

.block-node table .title-author {
  padding-left: 0;
  padding-right: 0;
}

.block-node table .node-title {
  font-size: 1em;
}

.block-node table .node-title a {
  color: #666;
}

.block-node table .node-title a:hover,
.block-node table .node-title a:active,
.block-node table .node-title a:focus {
  color: #fff;
}

.block-node table .node-author {
  color: #999;
  font-size: 1em;
}

body.not-logged-in .block-node table td.edit,
body.not-logged-in .block-node table td.delete {
  display: none; /* Hide Edit & Delete TD if not log-in */
}

/* --- Forums Block --- */
.block-forum .item-list ul {
  margin: 0;
  padding: 0;
}

.block-forum .item-list ul li {
}

.block-forum .item-list ul li:first-child {
}

.block-forum .item-list ul li a {
}

.block-forum .item-list ul li a:hover,
.block-forum .item-list ul li a:active,
.block-forum .item-list ul li a:focus {
}

.block-forum .more-link {
}

.block-forum .contextual-links-wrapper {
  display: none; /* Drupal Bug. Temporary hiding this link */
}

/* --- Comment Blocks --- */
.block-comment {
}

/* --- Aggregator Blocks --- */
block-aggregator {
}

.block-aggregator .item-list ul {
  margin: 0;
  padding: 0;
}

.block-aggregator .item-list ul li {
  background-image: none;
  border-bottom: 1px dotted #ccc;
  padding: .5em 0;
}

.block-aggregator .item-list ul li:first-child {
  padding-top: 0;
}

.block-aggregator .item-list ul li a {
  color: #666;
}

.block-aggregator .item-list ul li a:hover,
.block-aggregator .item-list ul li a:active,
.block-aggregator .item-list ul li a:focus {
  background: #333;
  color: #fff;
  text-decoration: none;
}

/* --- Search Blocks --- */
.block-search {
  background: #392d22;
  border: 1px solid #4c4030;
  clear: both;
  float: right !important;
  margin: 0;
  position: absolute;
  height: 25px;
  right: 0;
  top: 45px;
  width: 217px;
}

/* Search blocks in header */
#header .block-search .block-inner,
#header .block-search .form-item,
#header #search-block-form {
  margin: 0;
  padding: 0;
}

#header .block-search .container-inline div {
  display: block;
  float: left;
}

#header #search-block-form .form-text {
  background: none;
  border: none;
  color: #c5c0bb;
  font-style: italic;
  font-size: 1em;
  margin: 5px 10px 0;
  padding: 0;
  width: 166px;
}

#header #search-block-form .form-submit {
  background:  url(../images/ico-search.png) 0 0 no-repeat;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 0;  
  height: 25px;
  text-indent: -999em;
  vertical-align: top;
  width: 25px;
}

/* --- User Blocks --- */
.block-user {
}

.block-user .form-item {
}

.block-user .form-item label {
}

.block-user .form-item-name {
}

.block-user .form-item-name input {
  width: 90%;
}

.block-user .form-item-pass {
}

.block-user .form-item-pass input {
  width: 90%;
}

.block-user .item-list li {
  display: inline-block;
}

.block-user p {
  margin: 0;
}

/* --- Poll Blocks --- */
.block-poll {
}

.block-poll .poll {
}

.block-poll .title {
  font-weight: bold;
  margin-bottom: 1em;
}

.block-poll .links {
  margin-top: .5em;
}

/* --- Book Blocks --- */
.block-book {
}

/* --- Quicktabs Blocks --- */
.block-quicktabs {
}

.block-quicktabs .block-inner .block-inner {
  margin: 0; /* Prevent extra padding in nested blocks */
  padding: 0;
}

/* --- Views Blocks --- */
.block-views {
}

/**
 * Misc.
 */

/* Login Block - horizontal (theme setting) basic styles */
.lb-h {
  margin-top: 1px;
  min-width: 320px;
}

.region-header .lb-h {
  float: right;
}

.lb-h .block-inner,
.lb-h .block-content {
  background: none;
  padding: 0;
}

.lb-h #user-login-form {
  margin: 0;
}

.lb-h #user-login-form label {
  line-height: 1.2;
}

.lb-h .form-item {
  float: left;
  margin: 0;
}

.lb-h input.form-text {
  margin: 0 3px 0 0;
  width: 110px;
}

.lb-h #edit-actions {
  margin: 0;
}

.lb-h input.form-submit {
  margin: 0;
  position: absolute;
  top: 1.2em;
}

.lb-h .form-required,
.lb-h .item-list {
  display: none;
}

.lb-h h2 {
  display: none;
}

/* Skinr block title alignment */
.ta-l .block-title,
.ta-l .mini-panel-title {
  text-align: left;
}

.ta-r .block-title,
.ta-r .mini-panel-title {
  text-align: right;
}

.ta-c .block-title,
.ta-c .mini-panel-title {
  text-align: center;
}

/* Mini panels */
.mini-panel-title {
  margin: 0 10px;
}

/* Gpanel blocks */
.gpanel .block-inner {
}

.gpanel .block-title {
}

.gpanel .block-content {
}

#main-content .gpanel .block-inner {
}

#main-content .gpanel .block-title {
}

#main-content .gpanel .block-content {
}

/* Block wrapper for Mini Panels */
.block-panels_mini {
}

.block-panels_mini .block-inner {
}

.block-panels_mini .block-content {
}

.block-panels_mini .mini-panel-title {
  margin: 0 10px;
}

/* booking block */
.block-rooms-booking-manager {
  background: #3f3528;
}

.block-rooms-booking-manager .start-date {
  width: 100%;
  margin-bottom: 8px;
}

.block-rooms-booking-manager .end-date {
  width: 100%;
  margin-bottom: 9px;
}

.container-inline-date > .form-item {
  margin: 0;
  padding: 0;
  display: inline;
}

.block-rooms-booking-manager .form-item label {
  color: #af987c;
  font-weight: normal;
  margin-bottom: 3px;
}

.block-rooms-booking-manager .form-item .form-text {
  margin: 0;
  padding: 5px 4px;
  width: 95%;
}

.container-inline-date .date-padding {
  padding: 0;
  float: none;
}

.container-inline-date .form-item .form-item {
  float: none;
}

.container-inline-date .date-padding label {
  display: none;
}

.block-rooms-booking-manager .form-item-group-size,
.block-rooms-booking-manager .form-item-rooms {
  width: 114px;
  padding: 0;
  float: left;
  margin: 0 !important;
}

.block-rooms-booking-manager .form-item .form-select {
  width: 65%;
  padding: 3px;
}

.block-rooms-booking-manager .form-actions {
  margin-bottom: 0;
  text-align: right;
}

.block-rooms-booking-manager form {
  margin: 0;
}

.block-rooms-booking-manager span.button input.form-submit {
  background: none;
  padding: 0;
  color: #c07326;
  border: none;
  cursor: pointer;
}

.block-rooms-booking-manager span.button input.form-submit:hover,
.block-rooms-booking-manager span.button input.form-submit:focus {
  color: #ebdaad;
}

/* Romotions block */
.block-custom-promotions .block-inner {
  padding: 0 !important;
  
}

/* contact info */
.contact-info-2 dt {
  color: #c07326;
  font-size: 1.25em;
  font-weight: normal;
  margin-bottom: 3px;
}

.contact-info-2 dd {
  margin-bottom: 15px;
  margin-left: 0;
}

.contact-info-2 p {
  margin: 0 0 3px;
}

/* contact list */
.contact-list dt {
  color: #ebdaad;
  margin-bottom: 5px;
  font-size: 1.16em;
  font-weight: normal;
}

.contact-list dd { 
  margin-left: 0; 
}

.contact-list .last { 
  margin-bottom: 0; 
}

/* Change Skin Switch */
#change_skin_menu_wrapper {
  overflow: hidden;
  position: fixed;
  right: 10px;
  top: 0;
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.logged-in #change_skin_menu_wrapper {
  top: 65px;
}

#change_skin_menu_wrapper .container {
  width: auto;
}

#change_skin_menu_wrapper ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 6px 5px;
  overflow:hidden;
}

#change_skin_menu_wrapper ul li {
  float: left;
  padding: 0;
  margin: 0 3px;
}

#change_skin_menu_wrapper ul li.active {
  background: url(../images/arrow-up.png) no-repeat center bottom;
}

#change_skin_menu_wrapper ul li a {
  display: block;
  height: 13px;
  text-indent: -999em;
  width: 13px;
}

#change_skin_menu_wrapper a.color-default {
  background: #905C14; 
}

#change_skin_menu_wrapper a.color-orange {
  background: #ff9100; 
}

#change_skin_menu_wrapper a.color-red {
  background: #a70106; 
}
